.inputExpanded {
    width: 100%;
    min-height: 104px;
    margin-bottom: 8px;
    border: none;
    background-color: '#ffffff';
    padding: 4px;
    width: 100%;
    cursor: text;
    overflow-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.inputNotExpanded {
    width: 100%;
    min-height: 62px;
    margin-bottom: 41px;
    border: none;
    background-color: rgba(9,30,66,.04);
    padding: 4px;
    width: 100%;
    cursor: text;
    overflow-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.inputNotExpanded empty::before {
    content: 'Add more details here...';
    color: gray;
}